* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  border-radius: 50%;
  margin-bottom: 50px;
  border: 1vh solid #232d3622;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* @font-face {
  font-family: 'CustomFont';
  src: url('lovely-coffee/FeelingLonely-JRa0n.ttf') format('truetype');
} */

h1 {
  margin-bottom: 20px;
  font-size: 5em;
  font-family: "Sofia", sans-serif;
}

h2 {
  margin-bottom: 20px;
  font-size: 4em;
  font-family: "Sofia", sans-serif;
}

p {
  line-height: 2em;
  font-size: 1.2em;
  font-family: Helvetica;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Tabs {
  width: 80%;
  height: auto;
  min-height: 500px;
  background: #053742;
  margin: 3.5rem auto 1.5rem;
  padding: 2rem 1rem;
  color: #E8F0F2;
  border-radius: 2rem;
  @media (max-width: 769px) {
   padding: 2rem 0;
  }
 }

 ul.nav {
  width: 60%;
  margin: 0 auto 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #39A2DB;
  border-radius: 2rem;
  padding-left: 0px;
  @media (max-width: 768px) {
    width: 90%;
  }
}
ul.nav li {
  width: 50%;
  padding: 1rem;
  list-style: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.7s;
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
}
ul.nav li:nth-child(2) {
  border-radius: 0;
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
}
ul.nav li:hover {
  background: rgba(50, 224, 196, 0.15);
}
ul.nav li.active {
  background: #39A2DB;
}

.gray-box {
  margin-top: 20px;
  margin-left: 70px;
  width: 88%;
  height: 300px; /* Set the height as needed */
  background-color: #dce5e7; /* Gray background color */
  border-radius: 10px; /* Rounded corners */
  padding: 20px; /* Add padding inside the box */
  box-sizing: border-box; /* Include padding and border in the box's total width and height */
  color: black;
}

img {
  width: 100px; /* Set the width of the image */
  height: auto; /* Maintain the aspect ratio */
}
